<div class="login2Container">
    <div *ngIf="showSpinner" class="LoginContainer centerAll">
        <mat-spinner></mat-spinner><br />
    </div>
    <div *ngIf="!showSpinner" class="LoginContainer">
        <mat-card fxFlexAlign="center center" class="cardTop gradient-bg-1">
            <h3>Forgot Password</h3>
        </mat-card>
        <mat-card fxFlexAlign="center center" class="cardBody">
            <form [formGroup]="fpForm" fxLayout="column" (ngSubmit)="onSubmit()">
                <div fxLayout="row" class="centerAll">
                    <mat-icon color="primary" class="material-icons">
                        mail_outline
                    </mat-icon>
                    <mat-form-field fxFlex="80%">
                        <input formControlName="email" required matInput placeholder="Email for resetting password">
                        <mat-error *ngIf="email.hasError('email')">
                            Please enter a valid email</mat-error>
                        <mat-error *ngIf="email.hasError('required')">
                            Email is required</mat-error>
                    </mat-form-field>
                </div>
                <br>
                <div class="centerAll">
                    <button mat-stroked-button color="primary" type="submit" value="submit" mat-button>Reset</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>