<div class="login2Container">
    <div *ngIf="showSpinner" class="LoginContainer centerAll">
        <mat-spinner></mat-spinner><br />
    </div>
    <div *ngIf="!showSpinner" class="LoginContainer">
        <mat-card fxFlexAlign="center center" class="cardTop gradient-bg-1">
            <h3>Change Password</h3>
        </mat-card>
        <mat-card fxFlexAlign="center center" class="cardBody">
            <form [formGroup]="changePasswordForm" fxLayout="column" (ngSubmit)="onSubmit()">
                <div fxLayout="row" class="centerAll">
                    <mat-icon color="primary" class="material-icons">
                        lock_outline
                    </mat-icon>
                    <mat-form-field fxFlex="80%">
                        <input formControlName="currentPassword" required matInput type="password"
                            placeholder="Current Password...">
                        <mat-error *ngIf="currentPassword.hasError('required')">
                            Current password is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" class="centerAll">
                    <mat-icon color="primary" class="material-icons">
                        lock_outline
                    </mat-icon>
                    <mat-form-field fxFlex="80%">
                        <input formControlName="newPassword" required matInput placeholder="New Password..."
                            [type]="hide ? 'text' : 'password'">
                        <mat-icon color="primary" matSuffix (click)="hide= !hide">
                            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="newPassword.hasError('required')">
                            New password is required</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" class="centerAll">
                    <mat-icon color="primary" class="material-icons">
                        lock_outline
                    </mat-icon>
                    <mat-form-field fxFlex="80%">
                        <input formControlName="confirmPassword" required matInput type="password"
                            placeholder="Confirm Password...">
                        <mat-error *ngIf="confirmPassword.hasError('required')">
                            Confirm password is required</mat-error>
                        <mat-error *ngIf="confirmPassword.hasError('mustMatch')">
                            Passwords does not Match</mat-error>
                    </mat-form-field>
                </div>
                <br>
                <div class="centerAll">
                    <button mat-stroked-button color="primary" type="submit" value="submit" mat-button>Submit</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>