<div class="spinner" *ngIf="loading">
  <mat-spinner></mat-spinner> Loading data please wait...
</div>
<div class="tblCont" [hidden]="loading">
  <mat-card class="gradient-bg-1 tblIcon mat-elevation-z8">
    <i class="material-icons">
      table_chart
    </i>
  </mat-card>
  <mat-card>
    <div class="dataContainer">
      <div class="row">
        <h2 class="TableHead">Registrations</h2>
      </div>
      <div>
        <mat-form-field style="width:100%" *ngIf="dataSource.data.length> 10">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div>

        <mat-table #table [dataSource]="dataSource" matSort>

          <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{formatHeader(col) | titlecase}}
            </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <ng-container [ngSwitch]="col">
                <ng-container *ngSwitchCase="'createdDateTime'">
                  {{data.createdDateTime | date:'dd MMM yyyy'}}
                </ng-container>
                <ng-container *ngSwitchCase="'status'">
                  {{data.createdDateTime}}
                </ng-container>
                <ng-container *ngSwitchCase="'certificate'">
                  <button *ngIf="data.isPublished" mat-raised-button color="accent"
                    (click)="downloadCertificate(data.registrationID)">
                    Download Certificate <mat-icon color="primary">file_download</mat-icon>
                  </button>
                  <span *ngIf="!data.isPublished && data.inQueue" class="accent-color">In Queue...</span>
                  <span *ngIf="!data.isPublished && !data.inQueue" class="accent-color">Block Chain is processing your
                    request..</span>
                </ng-container>
                <ng-container *ngSwitchCase="'classification'">
                  <span [matTooltip]="data.classification.details">{{data.classification.name}}</span>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{data[col]}}
                </ng-container>
              </ng-container>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginatoR [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
      </div>
    </div>
  </mat-card>
