.outlet {
  margin: 0;
  padding: 30px;
  min-height: 75.9vh;
}
.spacer {
  flex: 1 1 auto;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
.menu-with-name :hover {
  cursor: pointer;
}
.menu-with-name {
  font-size: 15px;
}
.nav-toolbar,
.nav-toolbar .mat-toolbar-row {
  height: 50px !important;
  min-height: 50px !important;
}
.nav-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 2000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.back-toolbar{
  height: 40vh;
  z-index: -1;
  margin-bottom: -40vh;
}