.ContTable {
  width: 100%;
}
.login2Container {
  width: 100%;
  min-height: 600px;
  height: 85vh;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: auto;
}
.cardTop {
  margin-top: -50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: -50px;
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}
h3 {
  color: #fff;
}
.cardBody {
  z-index: 10;
  z-index: 1000;
  padding-top: 70px;
}
.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoginContainer {
  width: 350px;
}
a:not(.fpLink):hover {
  text-decoration: none;
  color: #fff;
  background-color: #4a4b4d;
}
.Logo {
  position: fixed;
  top: 20;
  z-index: 999;
  padding-bottom: 600px;
}
.Logo img {
  width: 300px;
}
.fpLink {
  color: blue;
  font-size: 15px;
  text-decoration: none;
}
