<div class="spinner" *ngIf="loading">
    <mat-spinner></mat-spinner> Loading data please wait...
</div>
<div class="tblCont" [hidden]="loading">
    <mat-card class="gradient-bg-1 tblIcon mat-elevation-z8">
        <i class="material-icons">
            table_chart
        </i>
    </mat-card>
    <mat-card>
        <div class="dataContainer">
            <div class="row">
                <h2 class="TableHead">Manage Users</h2>
            </div>
            <div>
                <mat-form-field style="width:100%" *ngIf="dataSource.data.length> 10">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource" matSort>

                    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{formatHeader(col) | titlecase}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let data">
                            <ng-container [ngSwitch]="col">
                                <ng-container *ngSwitchCase="'createdDateTime'">
                                    {{data.createdDateTime | date:'dd MMM yyyy'}}
                                </ng-container>
                                <ng-container *ngSwitchCase="'actions'">
                                    <button mat-mini-fab (click)="view(data.userID)" color="primary">
                                        <mat-icon class="mat-18">remove_red_eye</mat-icon>
                                    </button>
                                    <button mat-mini-fab (click)="toggle(data.userID)" [color]="data.isDisabled? 'accent' : 'warn'">
                                        <mat-icon class="mat-18">{{data.isDisabled? 'security' : 'block'}} </mat-icon>
                                    </button>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    {{data[col]}}
                                </ng-container>
                            </ng-container>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginatoR [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                </mat-paginator>
            </div>
        </div>
    </mat-card>